.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 500px;
    align-items: flex-start;
    
}
.formwrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container, .container2{
    background-color: burlywood;
    max-width: 800px;
    padding: 20px;
    margin: 0px;
}
.applybutton {
    display: flex;
    justify-content: center;
}
.form-row{
    display: flex;
}
.prodcard{
    display: flex;
    margin-bottom: 15px;
    border-bottom: 4px solid burlywood;
}
.middle,.right{
    display: flex;
    flex-direction: column;
}
.middle h5,h6{
    font-family: cursive;
}
.right{
    margin-left: auto;
    align-items: center;
}
.right p{
    font-weight: bold;
    font-family: cursive;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
}



/* css for when cart is empty */
.center{
    display: flex;
    flex-direction: column;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}
@media(max-width: 700px) or (max-height: 500px){
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container,.container2{
        padding: 0px;
    }
    .card{
        margin-bottom: 20px;
    }

    .middle h5,h6, .right p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}