<div class="container">
    <div class="top">
        <img src="../../assets/bookcoffee.jpg" style="max-width: 500px;max-height: auto;">
        
        <h3>One page at a time...</h3>
        <a href="https://www.buymeacoffee.com/BooksnCrannies" target="_blank" rel="noopener noreferrer"><img src="../../assets/buycoffee.png" style="max-width: 500px;"></a>
        
    </div>

    <div class="bottom">
        <p>Who are we you ask? We're just a group of book lovers, like you.
            We had a dream to bring into the world the best, the most outstanding,fdfasdfasff
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffafffafaaaa
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffdafsfsaffs
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffdafsadfasd
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffadfasdfsad
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffdafasdffff
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjfasfdfsfffaa
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffdfadsfdsaf
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjffdfasfdasff
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjfaeefrrrrre
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjferererwrwrr
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjferwerwerer
            ajfdkjfadslkfjfajd;lsdajffdsfjds;fljdsfjsd;fljsdaf;ljfsdfjkds;lfjfadjferwerwrwer
        </p>
       
        
        <p>adfkfldfjadjdslfjfslkfjdsfdsalfjsflsdfjaslaljfdsfdfaffdffafffdafafdfwerewrewr
            afdsfasdjfksdfjdflksfjdsfaslkjfsadkfasjf;asfjsdf;lkajfdsaf;ajfsakjfewrrewrwe
            dfsdafkljdsfal;kfjdfajflfjds;lsdjf;sfjsd;fafj;lsfkjfas;lfkj;sdjfdsadddwererwasd
            dfsdafkljdsfal;kfjdfajflfjds;lsdjf;sfjsd;fafj;lsfkjfas;lfkj;sdjfdsadddrewrewrrffd
            dfsdafkljdsfal;kfjdfajflfjds;lsdjf;sfjsd;fafj;lsfkjfas;lfkj;sdjfdsadddrewreasdddd
            dfsdafkljdsfal;kfjdfajflfjds;lsdjf;sfjsd;fafj;lsfkjfas;lfkj;sdjfdsadddrerwrsadsad
            dfsdafkljdsfal;kfjdfajflfjds;lsdjf;sfjsd;fafj;lsfkjfas;lfkj;sdjfdsadddrewrffasds
        </p>
    </div>
</div>