<div class="container">
    
    <div class="page">
        <div class="leftside">
            <h5><strong>Contact us</strong></h5>
            <p>sHe watched as the young man tried to impress everyone in the room with his intelligence. There was no doubt that he was smart. The fact that he was more intelligent than anyone else in the room could have been easily deduced, but nobody was really paying any attention due to the fact that it was also obvious that the young man only cared about his intelligence.</p>
            <p>It's not his fault. I know you're going to want to, but you can't blame him. He really has no idea how it happened. I kept trying to come up with excuses I could say to mom that would keep her calm when she found out what happened, but the more I tried, the more I could see none of them would work. He was going to get her wrath and there was nothing I could say to prevent it.</p>
            <img src="../../assets/contactbooks.jpg" style="max-width: 525px;">
        </div>
    </div>

    <div class="formbox">
        <form class = "lol w-125">
            <div class="name">
                <div class="textname">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
                <div class="textname">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                </div>
            </div>

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="usa">USA</option>
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="japan">Japan</option>
                <option value="britian">Britian</option>
                <option value="norway">Norway</option>
            </select>

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Subject of message..">

            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">

        </form>
    </div>

</div>