.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,0.5);
    border-radius: .25rm;
}
.center .btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400px;
    padding: 12px 72px;
    border-radius: 3px !important;
}
h5,.center h4,h6{
    font-family: cursive;
}
thead tr{
    border-bottom: 2px solid black;
}
.container2{
    padding-bottom: 200px;
}
tbody tr {
    background-color: burlywood;
}
.container{
    padding-bottom: 400px;
}
th,td{
    font-family: cursive;
    font-weight: 800;
}
.plusminus{
    display: flex;
    justify-content: center;
    align-items: start;
    /* align-items: flex-start */
    gap: 30px;
}
.plusminus button{
    background: none;
    border: none;
    
    margin: 0px;
    display: inline-block;

    
}
.plusminus h4{
    font-size: 20px;
}



@media(max-width: 700px) or (max-height: 500px){
    tbody{
        width: 100%;
    }
    .table-responsive{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    h5,.center, h4,h6,th,td{
        font-family:Arial, Helvetica, sans-serif;
    }

    thead tr{
        display: none;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
    }
}
@media (min-height: 1000px){
    .container{
        height: 100vh;
    }
    .container2{
        height: 100vh;
    }
}
