.container{
    background-color: burlywood;
    margin-bottom: 20px;
    padding: 20px 0px;
    
}
/* Product card zoom */
.zoom{
    position: relative;
    overflow: hidden;
}
img{
    max-height: 500px;
    min-height: 500px;
    transition: transform .4s;
}
.zoom:hover img{
    transform: scale(1.3);
    transform-origin: 50% 50%;
}
/* Product card zoom */

.subcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 6px solid darkred;
    border-bottom: 6px solid darkred;
    
}  
.wrapper{
    margin-bottom: 20px;
}
.filtering{
    display: flex;
    justify-content: space-around;
}
/* Filter/search bar background */
.changeBackground{
    /* border: 4px dashed black; */
    color: white;
    background-color: darkred;
}
/* Filter/search bar background */



/* Product card fade animation */
.transition, .subcontainer{
    animation: fadeIn 3s;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  /* Product card fade animation */

  
  .modalForm, .modal-header{
    background-color: burlywood;
  }
  .modalimage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  h4,.modalimage h3{
    font-family: cursive;
    background-color: burlywood;
  }

  @media(max-width: 700px) or (max-height: 500px){
    .container{
      padding-bottom: 180px;
    }
    .wrapper{
      padding-bottom: 10px;
    }
    .filtering{
      display: flex;
      flex-direction: column;
    }

    .card{
      width: 5rem;
    }
  }
  .changeBackground2{
    padding-bottom: 500px;
  }
@media(min-height: 1000px){
  .changeBackground2{
    padding-bottom: 1000px;
  }
}
  
